
<div id="footer">
    <% time = Time.new %>

    <%= puts time.year  %>
&copy; 2015 -
  <a href="https://github.com/charlenef/HomeSplash" target="_blank">
    <%= fa_stacked_icon "github-alt", text:"Open Sourced Here" %>
  </a>

</div>

<!--

<div id="message"> 
 
  </div>

  <div class="todo">
    To Do
  </div>

  <div class="temp">
    Temp
  </div>

  <div class="settings">
    Settings
  </div>

  <div class="quote">
    Quote
  </div>

  <div class="search">
    search
  </div>

  -->