
<div id="footer">
   &copy; <% time = Time.new %>
          <%= time.year %>
  <a href="https://github.com/charlenef/HomeSplash" target="_blank">
    <%= fa_stacked_icon "github-alt", text:"Open Sourced Here " %>
  </a> | <i class="brk-ruby">Created with Ruby</i>

</div>

<!--

<div id="message"> 
 
  </div>

  <div class="todo">
    To Do
  </div>

  <div class="temp">
    Temp
  </div>

  <div class="settings">
    Settings
  </div>

  <div class="quote">
    Quote
  </div>

  <div class="search">
    search
  </div>

  -->