
<div id="footer">
  
  &copy;2015


</div>

<!--

<div id="message"> 
 
  </div>

  <div class="todo">
    To Do
  </div>

  <div class="temp">
    Temp
  </div>

  <div class="settings">
    Settings
  </div>

  <div class="quote">
    Quote
  </div>

  <div class="search">
    search
  </div>

  -->