  
<div>
 

  <div id="main">    
    <h1 id="clock">

    <%= @current_time %></h1> 
    <!--See these instance variables in controllers -> home_controller.rb -->
 
   <p><%= @greet_message %></p>

  </div>
   
  <div class="message"> 
 
  </div>

  <div class="todo">
    To Do
  </div>

  <div class="temp">
    Temp
  </div>

  <div class="settings">
    Settings
  </div>

  <div class="quote">
    Quote
  </div>

  <div class="search">
    search
  </div>

</div>